@import "./colors.css";

* {
	font-size: 15px;
	font-family: "TX02 Nerd Font Mono";
	font-weight:600;
	margin:0;
	padding:0;
	min-height: 0;
}


window#waybar {
	background-color: @background;
}

window#waybar.hidden {
	opacity: 0.2;
}


#tray, #language, #network,
#cpu, #memory, #temperature {
	border-right:none;
}


#workspaces {
	border-radius: 2px;
}
#workspaces button {
	color: @foreground;
	border-radius: 0;
}

#workspaces button.urgent {
	text-decoration: underline;
	font-weight: bold;
}

#workspaces button.active {
	color:@lightblue;
}

#workspaces button:hover {
	background: transparent;
	border-color: transparent;
}

#network.disconnected {
	color: @main-text-red;
}

#third {}
#cpu {}
#memory {}
#temperature {}
#cpu.critical, 
#temperature.critical {
	background-color: @main-bg-red;
	color: @main-text-red;
}


#custom-poweroff {
}


#clock, #second, #third, #fourth, #fifth {
	color: @lightblue;
}

#cpu, #memory, #temperature, 
#pulseaudio, #network, #language, #tray, #battery {
	color: @foreground;
}

#language {
	padding: 0;
}


#language, #pulseaudio, #network {
}
#pulseaudio.muted {
	color: @red;
}

#custom-separator {
	color: @background-alt;
}

#custom-logo {
	color: #000;
	padding-right: 12px;
	padding-left:12px;
	background-color: #FFF;
	font-size: 20px;
	border-radius: 10px;
}

#clock {
	background-color: white;
	padding: 0 30px;
	color: #000;
	border-radius: 10px;
}

#cpu, #memory, #temperature #pulseaudio, #network, #language, #custom-power, #battery {
	margin: 0 10px;
}


#custom-power {
	color: #000;
	padding-right:0px;
	padding-left:12px;
	background-color: #FFF;
	margin-right: 0;
	font-size: 20px;
	border-radius: 10px;
}

language {
	margin-left: 0;
}

#temperature {
	margin-right: 20px;
}

#workspaces button.active.hosting-monitor {
	/*border-bottom: 3px solid #000;*/
	border-top: 1px solid #000;
}

#workspaces button * {
}

#workspaces button.active.hosting-monitor > * > * {
}

#workspaces button.visible {
	background-color: #FFF;
	color: #000;
}

#workspaces button.visible:not(.hosting-monitor) {
	opacity: .5;
}

#workspaces button.empty {
	opacity: .3;
}


