@import "./colors.css";

* {
	font-size: 15px;
	font-family: "TX02 Nerd Font Mono";
	font-weight:600;
	margin: 0;
	padding: 0;
}

window#waybar {
	background-color: @background;
	border: 3px solid @accent2;
	border-radius: 5px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#custom-logo {
	color: @accent;
	font-size: 30;
}

#custom-power {
	background-color: @accent;
	color: @foreground;
	border-radius: 5px;
	margin: 10px;
	font-size: 20px;
}

#custom-clockHour, #custom-clockMin {
	color: @accent;
	font-size: 25px;
}

#custom-clockSeparator {
	margin: 0;
	padding: 0;
}

#workspaces button {
	margin: 0 10px;
	opacity: .3;
}

#workspaces button.visible.hosting-monitor {
	background-color: @accent;
	opacity: 1;
	color: @foreground;
}

#workspaces button.visible:not(.hosting-monitor) {
	background-color: @accent;
	opacity: .5;
	color: @foreground;
}

#language {
	margin-left: 15px;
	margin-right: 17px;
	color: @accent;
}

#pulseaudio, #network {
	font-size: 20px;
	color: @accent;
}

#pulseaudio.muted {
	color: @red;
}

#network {
	margin-bottom: 10px;
	color: @accent;
}

#cpu, #memory {
	margin-bottom: 3px;
	color: @accent;
}

#temperature {
	margin-bottom: 10px;
	color: @accent;
}

#battery {
	color: @accent;
}
